body{
    background-color: cadetblue;
    font-size:25px;
    font-family:fantasy;
}
h1{
    font-size:38px;
}
#score{
    float:left;
    margin-left: 50px;
}
#timer{
    float:right;
    margin-right:50px;
}
#sketch{
    color:rgb(198, 1, 1);
}

button {
    float:right;
    margin-right: 20px;;
}